
html, body {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h2 {
  font-weight: normal;
  color: #999999;
  letter-spacing: -1px;
  margin: 15px;
}

button {
  border: 0;
  background: transparent;
  min-width: 50px;
  min-height: 50px;
}

#map {
  height: 500px;
}

#toolbar {
  width: 100%;
  background-color: rgba(255,255,255,0.7);
  text-align: right;
}
#login-button {
  padding: 0 15px;
  min-width: 100px;
}
#login-button label {
  display: inline;
  margin: 0;
}
#login-button img {
  display: none;
}
#login-button.authenticated img {
  display: inline;
  vertical-align: middle;
  width: 50px;
  margin-left: 20px;
}


#editor {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(255,255,255,0.7);
}

label {
  display: block;
  font-size: 12px;
  margin: 10px 15px 0 15px;
}
.hint {
  display: inline;
  margin-left: 5px;
  font-style: italic;
}
.input {
  margin: 5px 15px 10px 15px;
  border: 1px solid #999999;
}

.input, option {
  padding: 3px;
}
.input[type=number] {
  width: 70px;
  text-align: right;
}
.input.color {
  width: 70px;
}
.color-picker {
  width: 24px;
  height: 24px;
  background: url(img/camera-24x24.png) no-repeat;
  border: 0;
  cursor: pointer;
  min-width: 0;
  min-height: 0;
  vertical-align: middle;
  margin: 0 0 5px -5px;
}

select[name=building],
select[name='building:use'],
select[name='roof:shape'] {
  width: 150px;
}

.hidden {
  display: none;
}
