
html, body {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

h2 {
  font-weight: normal;
  color: #666666;
  letter-spacing: -1px;
  margin: 15px;
}

button {
  border: 1px solid #666666;
  min-width: 50px;
  min-height: 50px;
}

#map {
  height: 500px;
}

#login-button {
  padding: 0 15px;
  min-width: 100px;
  position: absolute;
  z-index: 1000;
  background: rgba(255,255,255,0.8);
  cursor: pointer;
  right: 0;
  top: 0;
}
#login-button label {
  display: inline;
  margin: 0;
}
#login-button img {
  display: none;
}
#login-button.authenticated img {
  display: inline;
  vertical-align: middle;
  width: 50px;
  margin-left: 20px;
}

#editor {
  background-color: #ffffff;
}

label {
  display: block;
  font-size: 12px;
  margin: 10px 15px 0 15px;
}
.hint {
  color: #999999;
}

.input {
  margin: 5px 15px 10px 15px;
  border: 1px solid #999999;
}

.input, option {
  padding: 8px;
  font-size: 16px;
}
.input[type=number] {
  width: 80px;
  text-align: right;
}
.input.color {
  width: 80px;
}
.color-picker {
  width: 24px;
  height: 24px;
  background: url(img/camera-24x24.png) no-repeat;
  border: 0;
  cursor: pointer;
  min-width: 0;
  min-height: 0;
  vertical-align: middle;
  margin: 0 0 5px -5px;
}

select[name=building],
select[name='building:use'],
select[name='roof:shape'] {
  width: 160px;
}

.hidden {
  display: none;
}
