html, body {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

h2 {
  font-weight: normal;
  color: #999999;
  letter-spacing: -1px;
  margin: 15px;
}


#map {
  height: 100%;
}

#session {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(255,255,255,0.7);
  text-align: right;
}
#session button {
  background: transparent;
  border: 0;
  padding: 0 15px;
  min-width: 100px;
  min-height: 50px;
}
#session label {
  display: inline;
  margin: 0;
}
#session img {
  display: none;
}
#session.authenticated img {
  display: inline;
  vertical-align: middle;
  width: 50px;
  margin-left: 20px;
}
.leaflet-top {
  top: 60px;
}

#overlay {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 75%;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(255,255,255,0.7);
}
.close-button {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  background: transparent;
  width: 50px;
  height: 50px;
  font-size: 24px;
}

label {
  display: block;
  font-size: 12px;
  margin: 10px 15px 0 15px;
}
.input {
  margin: 5px 15px 10px 15px;
}

.input, option {
  padding: 3px;
}
.input[type=number] {
  width: 70px;
  text-align: right;
}
.input.color {
  width: 70px;
}
.color-picker {
  width: 24px;
  height: 24px;
  background: url(img/camera-24x24.png) no-repeat;
  border: 0;
  cursor: pointer;
  margin-left: -10px;
}

/*
.input.color {
  background: transparent;
  border: 1px solid #cccccc;
}
*/
select[name=building],
select[name='building:use'],
select[name='roof:shape'] {
  width: 150px;
}

.hidden {
  display: none;
}
