
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

.hidden {
    display: none;
}

h1 {
  font-weight: normal;
  letter-spacing: -0.5px;
  font-size: 24px;
  text-overflow: ellipsis;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
    margin-top: 0;
}

p {
    margin: 5px 0;
}

#map {
    height: 100%;
}

button:focus {
    outline: none;
}

/*************************************/

.panel {
    color: #000000;
    font-size: 18px;
    position: absolute;
    left: 0;
    top: 0;
    width: 320px;
    height: 100%;
    z-index: 1000;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px #000000;
    padding: 30px;
    overflow-y: auto;
}

@media screen and (orientation: portrait) and (max-device-width: 400px) {
    .panel {
        width: 100%;
        height: 50%;
        top: 50%;
    }
}

/*************************************/

#intro {
}

/*************************************/

#login {
  margin-top: 20px;
}

#login button {
    border: 1px solid #336699;
    padding: 10px 20px;
    margin: 10px 0 20px 0;
    border-radius: 4px;
    background: #0099cc;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

/*************************************/

#editor-button-submit {
    border: 1px solid #336699;
    padding: 10px 20px;
    margin: 40px 0 20px 0;
    border-radius: 4px;
    background: #0099cc;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

#editor .row {
    margin: 20px 0 0 0;
}

#editor label {
    display: block;
    font-size: 14px;
    margin: 5px 0;
    color: #666666;
}

#editor .info {
    color: #999999;
}

#editor input,
#editor select {
    margin: 0;
    padding: 5px;
    font-size: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-radius: 0;
    border: 0;
    width: 250px;
    background: #dddddd;
}

#editor option {
    padding: 5px;
    font-size: 18px;
}

#editor input[type=number] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

#editor input:focus,
#editor select:focus {
    outline: 0;
    background: #BBBBBB;
}

/*
#editor .color {
    width: 80px;
}

#editor .color-picker {
  width: 24px;
  height: 24px;
  background: url(img/camera-24x24.png) no-repeat;
  border: 0;
  cursor: pointer;
  min-width: 0;
  min-height: 0;
  vertical-align: middle;
  margin: 0 0 5px -5px;
}
*/

/*************************************/

.leaflet-top {
    top: 50%;
    margin-top: -42px;
}

@media screen and (orientation: portrait) and (max-device-width: 400px) {
    .leaflet-top {
        top: 0;
        margin-top: 0;
    }
}
