
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

.covered {
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
}

.hidden {
    display: none;
}

.align-right {
    width: 100%;
    text-align: right;
}

h1 {
  font-weight: normal;
  letter-spacing: -0.5px;
  font-size: 24px;
}

p {
    margin: 5px 0;
}

#map {
    height: 100%;
}

#hint {
    color: #ffffff;
    font-size: 14px;
    text-shadow: 0 0 2px #000000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: rgba(0,0,0,0.5);
    padding: 20px;
    cursor: pointer;
}

/*************************************/

#editor {
    color: #000000;
    font-size: 18px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(255,255,255,255.75);
    padding: 30px;
    overflow-y: auto;
}

#editor-button-close {
    border: 0;
    padding: 5px 10px;
    background: transparent;
    font-size: 40px;
    cursor: pointer;
}

#editor-button-close:focus {
    outline: none;
}

#editor-button-submit {
    border: 0;
    padding: 10px 20px;
    margin: 40px 0 20px 0;
    box-shadow: 0 0 10px #000000;
    border-radius: 2px;
    background: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

#editor-button-submit:focus {
    outline: none;
}

.editor-row {
    margin: 20px 0 0 0;
}

#editor label {
    display: block;
    font-size: 14px;
    margin: 5px 0;
    color: #666666;
}

.editor-info {
    color: #999999;
}

#editor input,
#editor select {
    margin: 0;
    padding: 5px;
    font-size: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-radius: 0;
    border: 0;
    width: 250px;
    background: #dddddd;
}

#editor option {
    padding: 5px;
    font-size: 18px;
}

#editor input[type=number] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

/* looks odd
#editor input[type=number] {
    text-align: right;
}
*/

/*
.editor-color {
    width: 80px;
}

#editor .color-picker {
  width: 24px;
  height: 24px;
  background: url(img/camera-24x24.png) no-repeat;
  border: 0;
  cursor: pointer;
  min-width: 0;
  min-height: 0;
  vertical-align: middle;
  margin: 0 0 5px -5px;
}

*/

/*************************************/

#login-button {
    border: 0;
    padding: 10px 20px;
    margin: 10px 0 0 0;
    box-shadow: 0 0 10px #000000;
    border-radius: 2px;
    background: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

#login-button:focus {
    outline: none;
}
